.main-title{
    margin-top: 13px;
    margin-left: 23px;
    font-size: 14px;
}
.main-title a{
    color: #3579cc;
    font-size: 14px;
    margin-left: 16px;
}
.statistics-box {
    width: 724px;
    margin-left: 50px;
}
.statistics-box .statistics-title{
    font-size: 18px;
    color: #333;
    margin-top: 44px;
}
.statistics-main{
    width: 724px;
    height: 460px;
    margin-top: 16px;
    border: 1px solid #999;
}
.statistics-main .sta-top{
    overflow: hidden;
    width: 100%;
    height: 40px;
    background: #BFCFE1;
    border-bottom: 1px solid #999;
    text-align: center;
    line-height: 40px;
    color: #333;
    font-size: 14px;
}
.sta-top .sta-left{
    float: left;
}
.sta-top .sta-right{
    float: right;
}
.sta-top .sta-left #class-type,.sta-top .sta-right #data-sel{
    width: 100px;
    background: #BFCFE1;
    height: 40px;
    border: 0;
    outline: none;
}
.sta-top .sta-left #class-type option{
    width: 100px;
    text-align: center;
    height: 40px;
}
.person-num,.person-num1{
    display: inline-block;
    width: 110px;
    height: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.person-num1{
    width: 64px;
}
.sta-top .person-num i{
    font-size: 14px;
    font-style: normal;
}
.sta-top .sta-right #data-sel{
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.sta-top .sta-right .date-detail{
    display: inline-block;
    width: 180px;
    height: 40px;
}
/*Í¼±í*/
#jqChart{
    width: 724px;
    height: 420px;
}